/* Estilos para el cuerpo y la estructura general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

/* Estilos para los emoticones */
.emoticons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.emoticon {
  font-size: 120px; /* Tamaño grande para los emoticones */
  cursor: pointer;
  margin: 0 20px;
  display: inline-block;
}

.very-sad {
  color: red; /* Color rojo para muy negativa */
}

.sad {
  color: #FF9999; /* Color rojo claro para negativa */
}

.happy {
  color: #99FF99; /* Color verde claro para positiva */
}

.very-happy {
  color: green; /* Color verde para muy positiva */
}

/* Estilos para el área de comentarios y los botones */
textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos para los botones en index2 */
#buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px; /* Agrega espacio debajo de los botones */
}

#buttons button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
